/*  your css code here. If applicable */
body{
	width:1100px;
}
td{
	border:2px solid black;
}
.firstColumn{
	width:200px
}
.secondColumn{
	width:600px
}
.thirdColumn{
	width:200px
}


.imageContainer{
	width:100px
}
	
	
}